{% extends "cmu/base2.html" %}

{% block center_content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for game in games %}
        <div class="col mb-4">
            <div class="card" style="border-radius: 20px; height: 100%;">
                
                    <img src="{{ game.title.url }}" class="card-img-top" alt="Game Image" style="height: 200px; object-fit: cover;">
                
                <div class="card-body">
                    <a href="/games/{{game.name}}">
                        <h5 class="card-title">{{ game.name }}</h5>
                    </a>
                    <p class="card-text">Price: {{ game.price }}</p>
                    <p class="card-text">Realise: {{ game.date_of_release }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if games.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'games:main_paginate' games.previous_page_number %}">Previous</a></li>
        {% endif %}
        {% if games.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'games:main_paginate' games.next_page_number %}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}



