{% extends 'cmu/base2.html' %}
{% block center_content %}

{% if game_detail %}
<div class="container">
    <img src="{{ game_detail.title.url }}" alt="title">
    <h3>{{ game_detail.name }}</h3>
    <p><strong>Price:</strong> {{ game_detail.price }} $</p>
    <p><strong>Date of release:</strong> {{ game_detail.date_of_release }} $</p>
    {% if user.is_authenticated %}
        {% if is_purchased %}
            <p>Куплено</p>
        {% else %}
            <form action="{% url 'games:buy_game' game_detail.name %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Купить</button>
            </form>
        {% endif %}
    {% else %}
        <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы купить эту игру.</p>
    {% endif %}
</div>
{% endif %}

{% endblock %}

