h1 {
    font-size: 25px; /* Устанавливаем размер текста */
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 10px auto; /* Используем автоматические отступы по горизонтали для центрирования */
}

