{% extends "cmu/base.html"%}

{% block content %}
<div class="text-container">
    <h1>Добро пожаловать в CMU</h1>
    <p class="hidden">Ваш персональный путеводитель в уникальную метавселенную развлечений! Здесь ваши любимые игры, музыка, фильмы и сериалы соединяются воедино, создавая неповторимый опыт развлечений.</p>
    <p class="hidden">Откройте для себя грани виртуальных миров, наслаждайтесь увлекательными игровыми приключениями, открывайте новые музыкальные треки, окунитесь в захватывающие сюжеты фильмов и сериалов. CMU — это не просто платформа, это общество единомышленников, где можно делиться впечатлениями, обсуждать фаворитов и находить новых друзей, разделяющих ваши интересы.</p>
    <p class="hidden">Присоединяйтесь к нам и откройте для себя новый уровень развлечений, где ваш виртуальный опыт становится реальностью. В CMU мы не просто предлагаем контент, мы предлагаем погрузиться в невероятное приключение, созданное специально для вас. Добро пожаловать в мир, где развлечения становятся персональными!</p>
    <p class="hidden">Создайте свой уникальный профиль, подключайтесь к сообществам по интересам, и вместе с CMU погрузитесь в мир удовольствия и развлечений. Добро пожаловать в будущее развлечений — добро пожаловать в CMU!</p>

</div>
{% if user.is_authenticated %}
    <span>
        Welcome <b>{{ user.username }}!</b>
        <div class="btn-container">
            <a href="{% url 'users:logout' %}">
                <button type="button" class="btn btn-outline-primary btn-lg"> Logout</button>
            </a>
        </div>
    </span>
    {% else %}

    <div class="btn-container">
        <a href="{% url 'users:signup' %}">
            <button type="button" class="btn btn-outline-primary btn-lg">SignUp</button>
        </a>
        <a href="{% url 'users:login' %}">
            <button type="button" class="btn btn-outline-primary btn-lg">Login</button>
        </a>
    </div>
    {% endif %}

{% endblock %}